/*this sheet is the main first where css was created and i kept like that for the reference perpose.*/

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485


 /*saas is a css preprocessor*/

*,
*::before, /*to even include the properties before and after the styles*/
*::after{
    margin:0px;
    padding:0px;
    box-sizing: inherit;
}
html{        /*usually it was 16px and this tag was used to change all the measurements from px to rem to make it easier,if we using modern css it was very good practice to use rem so that if zoom in or zoom out or we can make the chamges for the complete page*/
    font-size: 62.5%;/*using px is not a good practice always use % cause if the user browser settings sthey chamges to 20px for their eyesight so to make them easier % used.hence if 100% means 16px by default for 10px it was 62.5px even if user wants to change lets say .625*16=10px if they increse the size like .625*20=12.5px*/
}
body{
    font-family: sans-serif;/*not in universal tag because the child tags will inherit from the parent body tag*/
    font-weight: 400;/*tells us how thicker or thinner the letters should be*/
    /*font-size:16px;*/
    line-height: 1.7;
    color:#777;
    padding:3rem;
    box-sizing: border-box;/*it was a good practice to put here instead of universal selectors*/
}
.header{
    height:95vh;/*its like how much screen its visible remaining 5% it will be visible*/
    background-image:linear-gradient(to right bottom,rgba(126, 213, 111, 0.8) ,rgba(40, 180, 133, 0.8)) ,url(../img/hero.jpg);/*the double dot is to go to next folder com next folder called stater then selecting img foder ,2.this linear gradient moves the color from left to right like a light transition,3.the 4th one in rgbs is opacity */
    background-size: cover;/*cover does that whatever size is the viewport it tries to fit in*/
    background-position: top;/*when we zoom in or zooom out the top remains same remaining part moves*/
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%) ;/*this is in clockwise direction from left based on x and y axis,2.there is a website called clippy which has this polygon numbers*/
    position: relative;/*as absolute is added to its child logo box*/
}
.header__logo-box{
    position: absolute;
    top:4rem; /*distance from the top to where the img should locate*/
    left:4rem ;
}
.header__logo{
    height:3.5rem;/*if we mention height then automatically the width should be adjusted*/
}
.header__text-box{
    position:absolute;
    left:50%;
    top: 40%;/*it should come a little top*/
    transform: translate(-50%,-50%);/*-x means from the right to left and -y means bottom to top*/
    text-align: center;/*to make the button align to the center*/
}
.heading-primary{ 
    color:white;
    text-transform: uppercase;
    backface-visibility: hidden;/*back of the face like shakiness is removed when animation is hapenning*/
    margin-bottom: 6rem;
}
.heading-primary--main{
    display:block;
    font-size:6rem;
    font-weight: 400;
    letter-spacing:3.5rem;
    animation-name: moveinleft;
    animation-duration: 1s;
    animation-timing-function:ease-out;/*fast towards the start and slow at the end*/
    /*animation-delay: 3s;
      animation-iteration-count:3;*/
}
.heading-primary--sub{
    display:block;
    font-size: 2rem;
    font-weight:700;
    letter-spacing: 1.75rem;/*we can adjust this by going to the website inspect and change whatever we want*/
    animation: moveinright 1s ease-out;
}
@keyframes moveinleft {
    0%{
        opacity:0;
        transform: translateX(-10rem);/*here -x means from the left (opp to x-axis)*/
    }
    80%{
        transform: translate(1rem);/*+x means from left to right,2.in middle if we want to change something*/
    }
    100%{
          opacity:1;
          transform: translate(0);
    }
}
@keyframes moveinright {
    0%{
        opacity:0;
        transform: translateX(10rem);
    }
    80%{
        transform: translate(-1rem);}
    100%{
          opacity:1;
          transform: translate(0);
    }
}
@keyframes moveinbuttom { /*This is specially for the button animation when loaded*/
    0%{
        opacity:0;
        transform: translateY(3rem);
    }
    100%{
          opacity:1;
          transform: translate(0);
    }
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding:1.5rem 4rem ;/*if we mention one means then it applies to all the 4 corners if we mention two then for one top and bottom and for the other left and right applies if we mention 3 then its clockwise dir from top */
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;/*this transition tells us the time taken to apply the effect like animation delay*/
    position: relative;
    font-size: 1.6rem;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);/*x-axis is 0 as we dont want any changes,y-axis,the blur amount*/
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}
.btn--white{
    background-color: white;
    color: #777;
}
.btn::after{
    content:"";
    display:inline-block;
    height:100%;
    width:100%;
    border-radius:10rem;/*this means we want the curve all the way to the round*/
    position:absolute;/*this absolute position needs to be a ref we dont want to be the header so we should put relative to the btn */
    top:0;
    left:0;
    z-index:-1;
    transition:all .4s;/*it tells how long the effect gonna takes place*/
}
.btn--white::after{ /*to make it wide we use this*/
    background-color: #fff;
}
.btn:hover::after{
    transform:scaleX(1.4) scaleY(1.6);
    opacity:0;
}
.btn--animation {
    animation: moveinbuttom .5s ease-out .75s;/*.5s is animation duration and .75 is animation delay*/
    animation-fill-mode: backwards;
}/*all this above code style.css is copied and pasted in main.css*/