//u means utility classes that are reusable

.u-center-text {text-align: center;}

.u-margin-bottum-small{margin-bottom: 1.5rem;}
u-margin-botttum-medium{margin-bottom: 4rem;}
.u-margin-bottum-big {margin-bottom: 8rem;}